.custom-btn {
  border: none;
  margin-top: 10px;
  padding: 10px 45px;
  border-radius: 45px;
  background-color: black;
  color: white;
  cursor: pointer;
  align-self: center;
}

.custom-btn:hover{
  background-color: rgba(0, 0, 0, 0.95);
}